/* Import other files */
@import 'home';
@import 'share';
@import 'stories';
@import 'components';

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');


/* Utilities */

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  // overflow: hidden;
  overflow-y: scroll;
}

body {
  font-family: Open Sans;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

html#page-share{
  background-image: url("../assets/images/white-sky.jpg") ;
  background-size: cover;
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}
