/* Import other files */
@import 'home';
@import 'share';
@import 'stories';
@import 'components';

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');


/* Utilities */
body {
  font-family: Open Sans;
  background-color: black;
  color: white;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}
