body {
 background-image: url("../assets/images/white-sky.jpg") ;
 background-size: cover;
  object-fit: cover;

  .form-container {
    h1 {
      margin-bottom: 3rem;
    }
    color: #86929e;
    background-color: #25292D;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-top: 5%;
    padding: 40px 20px 40px 45px;
    border-radius: 4px;

    .card-two-elements {
      display: flex;
      justify-content: end;
      align-items: flex-start;
      label {
        margin-top: 1.5rem;
      }
      .email-input {
        width: 60%;
        #email {
          width: 80%;
        }
      }
      .uploader-button {
        display: flex;
        justify-content: center;
        }
    }
    textarea, input {
      width: 90%;
      color: #BD7C91;
      background-color: #252A2D;
      margin-bottom: 3rem;
      border-top: #252A2D;
      border-left: #252A2D;
      border-right: #252A2D;
      border-bottom: 1px solid #69717a;
    }
    .checkbox-contact {
      display: flex;
      justify-content: flex-start;
      .radio-label {
        display: flex;
        margin-bottom: 2rem;
        input {
          margin: 0 30px 0 30px;
          height: 2rem;
        }
      }
    }
    .toggle-consent {
      display: flex;
      align-items: center;
      .x-toggle-component {
        padding-right: 2rem;
      }
    }
  }
}

#name{
        width: 80%;
}

#email, #year {
  width: 50%;
}

textarea {
  min-height: 50px;
}




