<nav>
  <div class="nav-header">
    <div class="nav-header__home">
      <LinkTo @route="home"><h2>Home</h2></LinkTo>
    </div>
    <div class="nav-header__share">
      <LinkTo @route="share"><h2>Share your story</h2></LinkTo>
    </div>
  </div>
  <OrderBy></OrderBy>
</nav>
