<nav>
  <div class="nav-header">
    <div class="nav-header__home">
      <LinkTo @route="home"><p>Home</p></LinkTo>
    </div>
    <div class="nav-header__share">
      <LinkTo @route="share"><p>Share your story</p></LinkTo>
    </div>
  </div>
  <OrderBy></OrderBy>
</nav>
