<article class="story">
  <div class="author-name-year">
    <h3>Bob test, Developer since 2015</h3>
  </div>
  <div class="author-testimony">
    <p>f ds  dfkjds f  fdhf df d fdhbfdhsufgdshjf b fhdis f fdjs fd f jd fhdsgf dbf df dbfud fhdsb fhds fd f ds fdusbf dusf dsf  dfgd bfds fdjs fdj fgzudbf dsjf dsfb d f ds  dfkjds f  fdhf df d fdhbfdhsufgdshjf b fhdis f fdjs fd f jd fhdsgf dbf df dbfud fhdsb fhds fd f ds fdusbf dusf dsf  dfgd bfds fdjs fdj fgzudbf dsjf dsfb d f ds dfkjds f fdhf df d fdhbfdhsufgdshjf b fhdis f fdjs fd f jd fhdsgf dbf df dbfud fhdsb fhds fd f ds fdusbf dusf dsf
    dfgd bfds fdjs fdj fgzudbf dsjf dsfb d</p>
    <br>
    <p>f ds dfkjds f fdhf df d fdhbfdhsufgdshjf b fhdis f fdjs fd f jd fhdsgf dbf df dbfud fhdsb fhds fd f ds fdusbf dusf dsf
    dfgd bfds fdjs fdj fgzudbf dsjf dsfb d</p>
    <br>
    <p>f ds dfkjds f fdhf df d fdhbfdhsufgdshjf b fhdis f fdjs fd f jd fhdsgf dbf df dbfud fhdsb fhds fd f ds fdusbf dusf dsf
    dfgd bfds fdjs fdj fgzudbf dsjf dsfb df ds dfkjds f fdhf df d fdhbfdhsufgdshjf b fhdis f fdjs fd f jd fhdsgf dbf df dbfud fhdsb fhds fd f ds fdusbf dusf dsf
    dfgd bfds fdjs fdj fgzudbf dsjf dsfb d</p>
    <br>
    <p>f ds dfkjds f fdhf df d fdhbfdhsufgdshjf b fhdis f fdjs fd f jd fhdsgf dbf df dbfud fhdsb fhds fd f ds fdusbf dusf dsf
    dfgd bfds fdjs fdj fgzudbf dsjf dsfb df ds dfkjds f fdhf df d fdhbfdhsufgdshjf b fhdis f fdjs fd f jd fhdsgf dbf df dbfud fhdsb fhds fd f ds fdusbf dusf dsf
    dfgd bfds fdjs fdj fgzudbf dsjf dsfb d</p>
  </div>
</article>
