footer {
  background-color: $neon-purple-color;
  text-align: center;
  padding: 10px;
  a {
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
  color: $light-grey-color;
    &:hover {
      color: $white;
    }
  }
}
