// COLORS

$black: #000000;
$white: #ffffff;
$white-2-color: #f2f3f4;
$white-3-color: #dce1dd;
$dark-grey-color: #24292c;
$grey-color: #3d4044;
$light-grey-color: #b5bfc9;
$light-2-grey-color: #cbd3db;
$neon-purple-color: #610eb1;
$purple-color: #4c3355;
$purple-2-color: #6a4489;
$light-purple-color: #935795;
$brown-color: #7A7069;
$brown-2-color: #8e827a;
$neon-pink-color: #CB4EFE;
$old-pink-color: #a8647b;
$old-2-pink-color: #4b3740;
$old-3-pink-color: #74435A;
$old-4-pink-color: #824a63;
