<!-- code a Hero / Banner section -->
<body style="background-color: #25292D;">

  <div class="banner">
    <div class="container-banner">
      <h1>Becoming a developer</h1>
      <p id="banner-p">What's your story?</p>
      <div class="banner-buttons">
        <LinkTo
        class="btn btn-contact" id="share-btn" @route="share">
          Write a post
          </LinkTo>
        <LinkTo class="btn btn-stories" id="share-btn" @route="stories">
          Stories
        </LinkTo>
      </div>
    </div>
  </div>
  <!-- code a "How it works" section -->
  <div class="container">
      <span><h2 class="text-center">HOW DOES IT WORK?</h2></span>

      <div class="container-card-img">
        <img src="assets/images/landscape.jpg" id="responsive-image" class="align-left slide-in" loading="lazy">

        <div class="card">
          <i class="fas fa-mug-hot"></i>
          <h4>Tell me about your yourself</h4>
          <p>What is your background?</p>
          <p>How did you gain interest in development?</p>
          <p>How did you learn coding?</p>
          <p>What year did you start coding?</p>
        </div>
      </div>

    <div class="container-card-img">
      <div class="card">
        <i class="fas fa-smile-beam"></i>
        <h4>Send me your best smile!</h4>
        <p>Or your favorite avatar picture
        </p>
      </div>
      <img src="assets/images/purple-amethyst.jpg" id="responsive-image" class="align-right slide-in" loading="lazy">
    </div>

    <div class="container-card-img">
      <img src="assets/images/purple-keyboard.jpg" id="responsive-image" class="align-left slide-in" loading="lazy">
      <div class="card">
        <i class="fas fa-code"></i>
        <h4>Being a developer today</h4>
        <p>How did you find your first developer role?</p>
        <p>What recommendations would you give to future developers?</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="text-center">WHAT'S NEXT?</h2>
      <div class="container-card-img">
        <img src="assets/images/clock.jpg" id="responsive-image" class="align-left slide-in" loading="lazy">
        <div class="card">
          <i class="fas fa-check-square"></i>
          <h4>The admin will review your submission</h4>
          <p>And contact you if something is missing</p>
          <p>Let you know when the article is live!</p>
        </div>
      </div>
      <div class="container-card-img">
        <div class="card">
          <i class="fas fa-glass-cheers"></i>
          <h4>Your story is live!</h4>
          <p>Share it with your friends!</p>
        </div>
        <img src="assets/images/stairs.jpg" id="responsive-image" class="align-right slide-in" loading="lazy">
      </div>
  </div>

  <Footer></Footer>
</body>

  <script>
    function debounce(func, wait = 20, immediate = true) {
      var timeout;
      return function () {
        var context = this, args = arguments;
        var later = function () {
          timeout = null;
          if (!immediate) func.apply(context, args);
        };
        var callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) func.apply(context, args);
      };
    }

    let sliderImages = document.querySelectorAll('.slide-in');

    function checkSlide(e) {
      sliderImages.forEach(sliderImage => {
        // Half way through the image
        const slideInAt = (window.scrollY + window.innerHeight) - sliderImage.height / 2;
        // Bottom of the image
        const imageBottom = sliderImage.offsetTop + sliderImage.height;
        const isHalfShown = slideInAt > sliderImage.offsetTop;
        const isNotScrolledPast = window.scrollY < imageBottom;
        if (isHalfShown && isNotScrolledPast) {
          sliderImage.classList.add('active');
        }
      });
    }

    window.addEventListener('scroll', debounce(checkSlide));

  </script>
