{{#form-builder}}

<div class="form-container">
  <div class="card-name-year">
    <div class="name-input">
      <label for="name">Your name</label>
      <Input id="name" type="text" />
    </div>

    <div class="input">
      <label for="year">What year did you start as a developer?</label>
      <Input id="year" type="number" />
    </div>
  </div>

  <div class="email-input">
    <label for="email">Your email</label>
    <div class="label-description" style="font-style: italic; font-size: 12px">To contact you once your testimonies is
      released! It will never be shared to the other users.</div>
    <Input id="email" type="text" />
  </div>


  <div class="input">
    <label for="background margin-top">Tell us about your background: What were you doing before being a developer?</label>
    <textarea id="background" width="80%" />
    </div>

    <div class="input">
      <label for="interest margin-top">How did you gain interest in development?</label>
      <textarea id="interest" />
    </div>

    <div class="input">
      <label for="learn margin-top">How did you learn programming?</label>
      <textarea id="learn" />
    </div>

    <div class="input">
      <label for="job margin-top">How did you find your first developer role?</label>
      <textarea id="job" />
    </div>

    <div class="input">
      <label for="recommendations margin-top">What recommendations would you give to future developers?</label>
      <textarea id="recommendations" />
    </div>

    <label for="picture">Add a picture or an avatar</label>

    <button class="btn-contact">Submit</button>
  </div>

{{/form-builder}}
