<h1>{{@model.author}}</h1>

<div class="stories">
  <ul class="results">
    <li><Story @story={{@model}} /></li>
    <li><Story @story={{@model}} /></li>
    <li><Story @story={{@model}} /></li>
  </ul>
</div>
