<NavBar />

<html id="page-stories">

    {{#sortable-table data=@model as |table|}}
      <div class="stories">
        <ul class="results">
          {{#each @model as |story|}}
          <li><Story @story={{story}} /></li>
          {{/each}}
        </ul>
      </div>
    {{/sortable-table}}
</html>
