<NavBar />

<html id="page-stories">

      <div class="stories">
        <ul class="results">
          <InfiniteScroller @onLoadMore={{this.loadMore}} as |scroller|>
            {{#each @model as |story|}}
              <li><Story @story={{story}} /></li>
            {{/each}}
            {{if scroller.isLoading "Please wait..."}}
          </InfiniteScroller>
        </ul>
      </div>
</html>
