<NavBar />

<html id="page-stories">

    {{#sortable-table data=@model as |table|}}
      <div class="stories">
        <ul class="results">
          {{log table}}
          {{#each @model as |story|}}
          <li><Story @story={{story}} /></li>
          {{/each}}
        </ul>
      </div>
    {{/sortable-table}}
</html>

<script>
  function getSelectedValue() {
      const selectedValue = document.getElementById('list').value;
      console.log(selectedValue);
    }
    getSelectedValue();
</script>
